header {
    height: 80px;
    font-size: 80px;
    grid-auto-columns: inherit;
    background-color: rgba(245, 244, 240, 0.61);
}
.glasses {
    height: 100%;
    float: right;
}

footer {
    background-color: rgba(245, 244, 240, 0.61);
    padding: 0;
    margin: 0;
    float: inline-end;
}
body {
    background: url(./images/background-image.jpeg);
    height: auto;
    width: auto;
}

dt {
    font-size: 25px;
    color: maroon;
    float: left;
}

div {
    font-size: 15px;
    float: left;
    margin: auto;
    padding: 5px
}
